.container-banner {
  max-width: 100%;
  height: auto;
  background-size: cover;
  position: relative;
  display: flex;
  border-bottom: solid 2px #de2e03;
}
.container-banner .img {
  width: 100%;
}

.container-footer {
  border-top: solid 2px #de2e03;
  width: 100%;
  background-color: #020202;
  color: #fff;
  text-align: center;
}
.container-footer .text-footer {
  width: 100%;
  font-size: 1em;
  font-family: "Bangers", cursive;
  padding-top: 2%;
}
@media screen and (max-width: 680px) and (min-width: 200px) {
  .container-footer .container-footer {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
@media screen and (max-width: 376px) and (min-width: 200px) {
  .container-footer .container-footer {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
.container-footer .container-iconos {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 2s;
  padding: 5%;
}
.container-footer .container-iconos .iconos-footer .img-footer {
  width: 25%;
}
.container-footer .container-iconos .iconos-footer:hover {
  transform: rotate(20deg);
}

.modo-oscuro {
  background-image: url(https://wallpapers.com/images/hd/iron-man-in-the-dark-1ikpgsjkoayh9equ.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: 110% 100%;
}

@media screen and (max-width: 680px) and (min-width: 200px) {
  .modo-oscuro {
    background-image: url(https://i.pinimg.com/originals/cc/6b/f7/cc6bf799c7465b82e34ef082e16e94fc.jpg);
    background-repeat: no-repeat;
    background-size: 110% 100%;
  }
}
.modo-claro {
  background-image: url(https://images6.alphacoders.com/872/872239.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 680px) and (min-width: 200px) {
  .modo-claro {
    background-image: url(https://i.pinimg.com/236x/26/64/b4/2664b426571e0aa2f5e45085163d2472.jpg);
  }
}
.logo-container {
  text-align: center;
  height: 5vh;
  display: flex;
  background-color: #000000;
  font-family: "Gloria Hallelujah", cursive;
  font-style: normal;
}
.logo-container .container-switch {
  display: inline-block;
  width: 5.5%;
  margin: 0%;
  padding: 1%;
}
.logo-container .container-switch .checkbox {
  background-color: #ed1d23;
  display: none;
  width: 100%;
}
@media screen and (max-width: 690px) {
  .logo-container .container-switch .checkbox {
    width: 100%;
    font-size: 1em;
  }
}
@media screen and (max-width: 376px) {
  .logo-container .container-switch .text-logo {
    width: 6%;
    font-size: 0.8;
  }
}
.logo-container .container-switch .label-switch {
  background-color: #fe5e41;
  width: 100%;
  height: 2.5vh;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 690px) {
  .logo-container .container-switch .label-switch {
    width: 90%;
    height: 2vh;
  }
}
@media screen and (max-width: 376px) {
  .logo-container .container-switch .label-switch {
    width: 90%;
    height: 2vh;
  }
}
.logo-container .container-switch .label-switch::before {
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  background-color: #fdffff;
  content: "";
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px #000;
}
@media screen and (max-width: 690px) {
  .logo-container .container-switch .label-switch::before {
    width: 0.9em;
    height: 0.9em;
  }
}
@media screen and (max-width: 376px) {
  .logo-container .container-switch .label-switch::before {
    width: 0.8em;
    height: 0.8em;
  }
}
.logo-container .container-switch .checkbox:checked + .label-switch {
  background-color: #00a878;
}
.logo-container .container-switch .checkbox:checked + .label-switch::before {
  transform: translateX(1.7rem);
}
@media screen and (max-width: 690px) {
  .logo-container .container-switch {
    width: 10%;
    font-size: 1em;
  }
}
@media screen and (max-width: 376px) {
  .logo-container .container-switch {
    width: 15%;
    font-size: 0.8;
  }
}
.logo-container .text-logo {
  background-color: #ed1d23;
  width: 16%;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container .text-logo .title-logo {
  display: block;
  margin: auto 8%;
}
@media screen and (max-width: 690px) {
  .logo-container .text-logo {
    width: 30%;
    font-size: 1em;
  }
}
@media screen and (max-width: 376px) {
  .logo-container .text-logo {
    width: 40%;
    font-size: 0.8;
  }
}

.loader-container {
  width: 100%;
  height: 100%;
  background-color: rgba(136, 86, 86, 0.99);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 450px;
  padding-top: 50vh;
}

.loader {
  width: 10em;
  height: 10em;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.loader .div {
  width: 15em;
  height: 15em;
  padding: 1%;
  border-radius: 50%;
  border: 6px solid #ed1d23;
  margin-right: 5%;
}
.loader .div:nth-child(1) {
  animation: preloader 1.3s ease-in-out alternate infinite;
  background-color: #757575;
}
.loader .div:nth-child(2) {
  animation: preloader 1.5s ease-in-out alternate 0.2s infinite;
  background-color: #757575;
}
.loader .div:nth-child(3) {
  animation: preloader 1.8s ease-in-out alternate 0.4s infinite;
  background-color: #757575;
}
.loader .espera1 {
  content: url(/imagenes/gamora.png);
  animation-delay: 1s;
}
.loader .espera2 {
  content: url(/imagenes/natasha.png);
  animation-delay: 3s;
}
.loader .espera3 {
  content: url(/imagenes/wanda.png);
  animation-delay: 5s;
}

@keyframes preloader {
  35% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(50px);
    background-color: #de2e03;
  }
}
* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.container-main {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
}
.container-main .search-title {
  width: 60%;
  margin: auto;
  padding-top: 5%;
  color: #a20f0f;
}
.container-main .my-nav-selects {
  width: 85%;
  display: flex;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 3%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container-main .my-nav-selects .my-search {
  width: 40%;
  display: flex;
  margin: 1%;
  text-align: center;
}
.container-main .my-nav-selects .my-search .icon-search .search-icon {
  font-size: 1.5em;
  padding: 1%;
  font-weight: bold;
  color: #a20f0f;
}
.container-main .my-nav-selects .my-search .input-search {
  width: 100%;
  font-size: 1em;
  border: solid #a20f0f;
  border-top: none;
  border-right: none;
  background-color: #ebe8e8;
}
.container-main .my-nav-selects .container-selects {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 1%;
  font-weight: bold;
}
.container-main .my-nav-selects .container-selects .select-tipo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container-main .my-nav-selects .container-selects .select-tipo .label-select-tipo {
  font-size: 1em;
  color: #ed1d23;
}
.container-main .my-nav-selects .container-selects .select-tipo .select-search-tipo {
  width: 60%;
  font-size: 0.8em;
  border: none;
  background-color: transparent;
  font-weight: bold;
  margin-top: 1%;
  color: #a20f0f;
}
.container-main .my-nav-selects .container-selects .select-orden {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  font-weight: bold;
}
.container-main .my-nav-selects .container-selects .select-orden .label-select-orden {
  font-size: 1em;
  color: #ed1d23;
}
.container-main .my-nav-selects .container-selects .select-orden .select-search-orden {
  width: 60%;
  font-size: 0.8em;
  border: none;
  background-color: transparent;
  font-weight: bold;
  margin-top: 1%;
  color: #a20f0f;
}
@media screen and (max-width: 680px) and (min-width: 200px) {
  .container-main .my-nav-selects {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-main .my-nav-selects .my-search {
    width: 50%;
  }
  .container-main .my-nav-selects .container-selects .select-tipo {
    width: 45%;
    margin: 1%;
  }
  .container-main .my-nav-selects .container-selects .select-tipo .select-search-tipo {
    width: 100%;
  }
  .container-main .my-nav-selects .container-selects .select-orden {
    width: 45%;
    margin: 2%;
  }
  .container-main .my-nav-selects .container-selects .select-orden .select-search-orden {
    width: 100%;
  }
}
@media screen and (max-width: 376px) and (min-width: 200px) {
  .container-main .my-nav-selects {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-main .my-nav-selects .my-search {
    width: 80%;
  }
  .container-main .my-nav-selects .container-selects {
    display: flex;
    width: 80%;
  }
  .container-main .my-nav-selects .container-selects .select-tipo {
    width: 80%;
    margin: 1%;
  }
  .container-main .my-nav-selects .container-selects .select-orden {
    width: 80%;
    margin: 2%;
  }
}
.container-main .search-button {
  background-color: #c4c0c0;
  position: relative;
  display: block;
  height: 40px;
  width: 100px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
  overflow: hidden;
  transition: all 300ms ease;
  border: 2px solid #de2e03;
  z-index: 0;
  font-weight: bold;
  margin: 1%;
}
.container-main .search-button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #de2e03;
  transition: all 800ms ease;
  z-index: -1;
}
.container-main .search-button--1::before {
  left: -520px;
  right: 0;
  width: 100%;
  height: 150%;
  transition: all 850ms ease;
  transform: rotate(45deg);
  box-shadow: 0 0 10 #de2e03, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
}
.container-main .search-button--1:hover::before {
  left: 520px;
}
.container-main .comic-section {
  margin-top: 3%;
  color: #a20f0f;
  background-color: rgba(0, 0, 0, 0.88);
}
.container-main .comic-section .container-img-description {
  display: flex;
}
.container-main .comic-section .container-img-description .comic-details {
  margin: 3%;
  font-weight: bold;
}
.container-main .comic-section .resultados-personajes {
  padding: 1%;
  height: 35%;
  display: flex;
  flex-wrap: wrap;
}
.container-main .comic-section .resultados-personajes .resultados-card {
  width: 100vw;
}
.container-main .comic-section .resultados-personajes .character-img-container {
  margin: 0 10px 40px;
}
.container-main .comic-section .resultados-personajes .character-img-container .container-card-character .card-character {
  border: solid 2px #a20f0f;
  width: 10em;
}
.container-main .comic-section .resultados-personajes .character-img-container .container-card-character .card-character .container-img-character {
  overflow: hidden;
}
.container-main .comic-section .resultados-personajes .character-img-container .container-card-character .card-character .container-img-character .character-thumbnail {
  height: 25vh;
  width: 100%;
}
.container-main .comic-section .resultados-personajes .character-img-container .container-card-character .card-character .container-img-character .card-content-info {
  background-color: #000;
  height: 12vh;
  padding: 2%;
  border-top: solid 5px #a20f0f;
  position: relative;
}
.container-main .comic-section .resultados-personajes .character-img-container .container-card-character .card-character .container-img-character .card-content-info .contein-info {
  margin: 0%;
  padding: 5% 5% 0%;
}
.container-main .comic-section .resultados-personajes .character-img-container .container-card-character .card-character .container-img-character .card-content-info .contein-info .title-character {
  font-size: 1.3em;
}
.container-main .comic-section .resultados-personajes .character-img-container .container-card-character .card-character .container-img-character .card-content-info .contein-info .text-character {
  padding: 5%;
}
.container-main .comic-section .resultados-personajes .character-img-container .container-card-character .card-character .container-img-character:hover img {
  transform: scale(1.2);
  transition-duration: 0.8s;
  filter: grayscale(90%);
  background-color: #a20f0f;
}
.container-main .comic-section .resultados-personajes .character-img-container .container-card-character .card-character .container-img-character:hover .card-content-info {
  background-color: #a20f0f;
  color: #000;
}
.container-main .comic-section .resultados-personajes .character-img-container .container-card-character .card-character:hover {
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.66);
  cursor: pointer;
}
.container-main .results-section {
  font-weight: bold;
  width: 80%;
  margin: auto;
}
.container-main .results-section .title-results {
  color: #000;
  width: 60%;
  margin: auto;
  text-align: center;
  border: none;
}
.container-main .results-section .results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;
}
.container-main .results-section .results .comic {
  width: 17.6%;
  margin: 0 10px 10px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: solid 2px #a20f0f;
  background-color: #a4b9b6;
}
.container-main .results-section .results .comic .comic-thumbnail {
  padding-top: 2%;
  width: 100%;
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
  transform: translateY(0);
  transition: 0.2s;
}
.container-main .results-section .results .comic .comic-title {
  background-color: #a4b9b6;
  color: #000;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin-top: 1%;
}
.container-main .results-section .results .comic:focus {
  outline: 0;
}
.container-main .results-section .results .comic:focus .comic-thumbnail,
.container-main .results-section .results .comic:hover .comic-thumbnail {
  transform: translateY(-10px);
}
.container-main .results-section .results .comic:focus .comic-title,
.container-main .results-section .results .comic:hover .comic-title {
  color: #ed1d23;
}
.container-main .results-section .results .comic-img-container {
  flex-grow: 1;
}
@media screen and (max-width: 680px) and (min-width: 200px) {
  .container-main .results-section .results .comic {
    width: 30%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 376px) and (min-width: 200px) {
  .container-main .results-section .results .comic {
    width: 35%;
  }
}
.container-main .results-section .results .card-character {
  width: 15%;
  margin: 1% 2%;
}
.container-main .results-section .results .card-character .container-card-character {
  width: 100%;
}
.container-main .results-section .results .card-character .container-card-character .card-character {
  width: 100%;
  border: solid 2px #a20f0f;
  background-color: #000;
}
.container-main .results-section .results .card-character .container-card-character .card-character .container-img-character {
  overflow: hidden;
  width: 100%;
}
.container-main .results-section .results .card-character .container-card-character .card-character .container-img-character .character-thumbnail {
  width: 100%;
}
.container-main .results-section .results .card-character .container-card-character .card-character .container-img-character .card-content-info {
  background-color: #000;
  height: 10vh;
  padding: 2%;
  border-top: solid 5px #a20f0f;
  position: relative;
}
.container-main .results-section .results .card-character .container-card-character .card-character .container-img-character .card-content-info .contein-info {
  margin: 0%;
  padding: 5% 5% 0%;
}
.container-main .results-section .results .card-character .container-card-character .card-character .container-img-character .card-content-info .contein-info .title-character {
  font-size: 1.2em;
}
.container-main .results-section .results .card-character .container-card-character .card-character .container-img-character:hover img {
  transform: scale(1.2);
  transition-duration: 0.8s;
  filter: grayscale(90%);
  background-color: #a20f0f;
}
.container-main .results-section .results .card-character .container-card-character .card-character .container-img-character:hover .card-content-info {
  background-color: #a20f0f;
}
.container-main .results-section .results .card-character .container-card-character .card-character:hover {
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.66);
  cursor: pointer;
}
@media screen and (max-width: 680px) and (min-width: 200px) {
  .container-main .results-section .results .card-character {
    width: 15%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 376px) and (min-width: 200px) {
  .container-main .results-section .results .card-character {
    width: 35%;
  }
}
@media screen and (max-width: 680px) and (min-width: 200px) {
  .container-main .results-section .results {
    width: 100%;
    margin-left: 0%;
  }
}
@media screen and (max-width: 376px) and (min-width: 200px) {
  .container-main .results-section .results-section {
    width: 100%;
    margin-left: 0%;
  }
}
.container-main .results-section .container-pagination {
  width: 100%;
  text-align: center;
  margin-top: 2%;
  padding-bottom: 2%;
}
.container-main .results-section .container-pagination .pagination {
  display: flex;
  justify-content: center;
}
.container-main .results-section .container-pagination .pagination .btn {
  width: 40px;
  height: 40px;
  font-family: "Bangers", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #ed1d23;
  background-color: #e5f2f3;
  border-radius: 5px;
}
@media screen and (max-width: 680px) and (min-width: 200px) {
  .container-main .results-section {
    width: 95%;
  }
  .container-main .container-pagination {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
@media screen and (max-width: 376px) and (min-width: 200px) {
  .container-main .results-section {
    width: 95%;
  }
  .container-main .container-pagination {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

/*# sourceMappingURL=style.css.map */
