* {
  margin: 0;
  padding: 0;
}

.modo-oscuro {
  background-image: url(https://wallpapers.com/images/hd/iron-man-in-the-dark-1ikpgsjkoayh9equ.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: 110% 100%;
}

.modo-claro {
  background-image: url(https://images6.alphacoders.com/872/872239.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.logo-container {
  text-align: center;
  height: 5vh;
  display: flex;
  align-items: center;
  background-color: #000;
}
.logo-container .container-switch .label-switch .lever {
  background-color: #5ff8c2;
  width: 42px;
  height: 23px;
}
.logo-container .text-logo {
  background-color: #ed1d23;
  width: 15%;
  margin: 0% 0% 0% 38%;
  padding-bottom: 1%;
}
.logo-container .text-logo .title-logo {
  color: #fff;
  font-family: "Bangers", cursive;
  font-weight: bold;
  font-size: 1.6em;
}

.container-banner {
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  border-bottom: solid 2px #de2e03;
}
.container-banner .img {
  width: 100%;
}

.container-main {
  width: 100%;
  padding: 2% 15%;
  font-family: "Kalam", cursive;
  color: #fff;
}
.container-main .search-title h2 {
  font-size: 2em;
}
.container-main .my-nav-container {
  display: flex;
  background-color: transparent;
  width: 95%;
}
.container-main .my-nav-container .my-nav-search {
  width: 40%;
}
.container-main .my-nav-container .my-nav-search .container-search-form {
  padding-top: 2%;
}
.container-main .my-nav-container .my-nav-search .container-search-form .my-search {
  display: flex;
  width: 90%;
}
.container-main .my-nav-container .my-nav-search .container-search-form .my-search .search-icon {
  font-size: 1.8em;
  width: 15%;
  color: #000;
  font-weight: bold;
}
.container-main .my-nav-container .my-nav-search .container-search-form .my-search .input-search {
  padding-left: 0.8%;
  font-size: 2em;
  border-bottom: solid 3px #de2e03;
  border-left: solid 3px #de2e03;
}
.container-main .my-nav-container .my-nav-search .container-search-form .my-search .input-search:focus {
  border: solid 3px #de2e03;
  background-color: #a4b9b6;
}
.container-main .my-nav-container .my-nav-selects {
  height: 10vh;
  width: 50%;
  display: flex;
}
.container-main .my-nav-container .my-nav-selects .select-tipo {
  width: 50%;
  padding-top: 2%;
}
.container-main .my-nav-container .my-nav-selects .select-tipo .label-select-tipo {
  font-size: 1.3em;
  color: #ed1d23;
}
.container-main .my-nav-container .my-nav-selects .select-tipo .select-search-tipo {
  background-color: #de2e03;
  width: 10%;
  font-size: 10em;
}
.container-main .my-nav-container .my-nav-selects .select-orden {
  width: 50%;
  padding: 2%;
}
.container-main .my-nav-container .my-nav-selects .select-orden .label-select-orden {
  font-size: 1.3em;
  color: #ed1d23;
}
.container-main .my-nav-container .container-button {
  margin: auto;
}
.container-main .my-nav-container .container-button .search-button {
  background-color: #c4c0c0;
  position: relative;
  display: block;
  height: 40px;
  width: 100px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  overflow: hidden;
  transition: all 300ms ease;
  border: 2px solid #de2e03;
  z-index: 0;
  font-weight: 500;
}
.container-main .my-nav-container .container-button .search-button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: #de2e03;
  transition: all 800ms ease;
  z-index: -1;
}
.container-main .my-nav-container .container-button .search-button--1::before {
  left: -520px;
  right: 0;
  width: 100%;
  height: 150%;
  transition: all 850ms ease;
  transform: rotate(45deg);
  box-shadow: 0 0 10 #de2e03, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
}
.container-main .my-nav-container .container-button .search-button--1:hover::before {
  left: 520px;
}
.container-main .div-card-character {
  margin: 0%;
  margin-top: 15%;
  padding: 0%;
  width: 17%;
}
.container-main .div-card-character .container-card-character {
  padding: 0%;
  margin: 0%;
}
.container-main .div-card-character .container-card-character .card-character {
  border: solid 2px #a20f0f;
}
.container-main .div-card-character .container-card-character .card-character .container-img-character {
  overflow: hidden;
}
.container-main .div-card-character .container-card-character .card-character .container-img-character .img-character {
  height: 25vh;
}
.container-main .div-card-character .container-card-character .card-character .container-img-character .mas-info {
  background-color: #b30909;
  color: #fff;
  margin: auto;
  position: absolute;
  bottom: 0.2%;
  left: 5%;
  border-radius: 100%;
  font-size: 2em;
}
.container-main .div-card-character .container-card-character .card-character .container-img-character .card-content-info {
  background-color: #000;
  height: 12vh;
  padding: 2%;
  border-top: solid 5px #a20f0f;
  position: relative;
}
.container-main .div-card-character .container-card-character .card-character .container-img-character .card-content-info .contein-info {
  margin: 0%;
  padding: 5% 5% 0%;
}
.container-main .div-card-character .container-card-character .card-character .container-img-character .card-content-info .contein-info .title-character {
  font-size: 1.3em;
}
.container-main .div-card-character .container-card-character .card-character .container-img-character .card-content-info .contein-info .text-character {
  padding: 5%;
}
.container-main .div-card-character .container-card-character .card-character .container-img-character .card-content-info:hover {
  background-color: #a20f0f;
}
.container-main .div-card-character .container-card-character .card-character .container-img-character:hover img {
  transform: scale(1.2);
  transition-duration: 0.8s;
  filter: grayscale(90%);
}
.container-main .div-card-character .container-card-character .card-character:hover {
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.66);
  cursor: pointer;
}
.container-main .results-section {
  padding: 5% 0% 0% 0%;
  font-weight: bold;
}
.container-main .results-section .title-results {
  background-color: #e5f2f3;
  color: #000;
  width: 20%;
  margin: auto;
  text-align: center;
  border: none;
  box-shadow: inset 0 0 10px #000000;
}
.container-main .results-section .results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5%;
}
.container-main .results-section .results .comic {
  width: 20%;
  margin: 0 10px 40px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: solid 2px #a20f0f;
  background-color: #f3ecec;
}
.container-main .results-section .results .comic .comic-thumbnail {
  padding-top: 2%;
  width: 100%;
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
  transform: translateY(0);
  transition: 0.2s;
}
.container-main .results-section .results .comic .comic-title {
  background-color: #a4b9b6;
  color: #000;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin-top: 1%;
  padding: 3%;
}
.container-main .results-section .results .comic:focus {
  outline: 0;
}
.container-main .results-section .results .comic:focus .comic-thumbnail,
.container-main .results-section .results .comic:hover .comic-thumbnail {
  transform: translateY(-10px);
}
.container-main .results-section .results .comic:focus .comic-title,
.container-main .results-section .results .comic:hover .comic-title {
  color: #ed1d23;
}
.container-main .results-section .results .comic-img-container {
  flex-grow: 1;
}
.container-main .results-section .div-container-paginador {
  margin: 15% 0% 3%;
}
.container-main .results-section .div-container-paginador .container-paginador {
  display: flex;
  color: #ed1d23;
  flex-direction: column;
  align-items: center;
  font-family: "Bangers", cursive;
  font-size: 1.3em;
  font-weight: bold;
}
.container-main .results-section .div-container-paginador .pagination {
  display: flex;
  justify-content: center;
}
.container-main .results-section .div-container-paginador .pagination .pagination-button {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.container-main .results-section .div-container-paginador .pagination .pagination-button:disabled {
  color: #757575;
  border-color: #757575;
}

.container-footer {
  border-top: solid 2px #de2e03;
  width: 100%;
  padding: 3%;
  background-color: #020202;
  color: #fff;
  text-align: center;
}
.container-footer .text-footer {
  width: 100%;
  font-size: 1.2em;
  font-family: "Bangers", cursive;
  margin: 0 auto;
}
.container-footer .container-iconos {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 2s;
}
.container-footer .container-iconos .iconos-footer {
  padding: 1%;
}
.container-footer .container-iconos .iconos-footer .img-footer {
  width: 25%;
}
.container-footer .container-iconos .iconos-footer:hover {
  transform: rotate(20deg);
}

/*# sourceMappingURL=style.css.map */
