@import './config/banner';
@import './config/footer';
@import './config/modo-claro-oscuro';
@import './config/container-logo-switch';
@import './config/loader';

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.container-main {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;

    .search-title {
        width: 60%;
        margin: auto;
        padding-top: 5%;
        color: #a20f0f;
    }

    

    .my-nav-selects {
        width: 85%;
        display: flex;
        margin: auto;
        margin-bottom: 5%;
        margin-top: 3%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        .my-search {
            width: 40%;
            display: flex;
            margin: 1%;
            text-align: center;

            .icon-search {

                .search-icon {
                    font-size: 1.5em;
                    padding: 1%;
                    font-weight: bold;
                    color: #a20f0f;
                }
            }

            .input-search {
                width: 100%;
                font-size: 1em;
                border: solid #a20f0f;
                border-top: none;
                border-right: none;
                background-color: #ebe8e8;
            }
        }

        .container-selects {
            display: flex;
            justify-content: space-between;
            width: 40%;
            margin: 1%;
            font-weight: bold;

            .select-tipo {
                width: 50%;
                display: flex;
                flex-direction: column;

                .label-select-tipo {
                    font-size: 1em;
                    color: #ed1d23;
                }

                .select-search-tipo {
                    width: 60%;
                    font-size: 0.8em;
                    border: none;
                    background-color: transparent;
                    font-weight: bold;
                    margin-top: 1%;
                    color: #a20f0f;
                }
            }

            .select-orden {
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-left: 2%;
                font-weight: bold;

                .label-select-orden {
                    font-size: 1em;
                    color: #ed1d23;
                }

                .select-search-orden {
                    width: 60%;
                    font-size: 0.8em;
                    border: none;
                    background-color: transparent;
                    font-weight: bold;
                    margin-top: 1%;
                    color: #a20f0f;
                }
            }
        }

    }

    @media screen and (max-width: 680px) and (min-width: 200px) {
        .my-nav-selects {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .my-search {
                width: 50%;
            }

            .container-selects {

                .select-tipo {
                    width: 45%;
                    margin: 1%;

                    .select-search-tipo{
                        width: 100%;
                    }
                }

                .select-orden {
                    width: 45%;
                    margin: 2%;

                    .select-search-orden{
                        width: 100%;
                    }
                }
            }


        }
    }

    @media screen and (max-width: 376px) and (min-width: 200px) {
        .my-nav-selects {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .my-search {
                width: 80%;
            }

            .container-selects {
                display: flex;
                width: 80%;

                .select-tipo {
                    width: 80%;
                    margin: 1%;
                }

                .select-orden {
                    width: 80%;
                    margin: 2%;
                }
            }


        }
    }

    .search-button {
        background-color: #c4c0c0;
        position: relative;
        display: block;
        height: 40px;
        width: 100px;
        border-radius: 4px;
        text-transform: uppercase;
        color: #000;
        font-size: 13px;
        overflow: hidden;
        transition: all 300ms ease;
        border: 2px solid #de2e03;
        z-index: 0;
        font-weight: bold;
        margin: 1%;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
            background-color: #de2e03;
            transition: all 800ms ease;
            z-index: -1;
        }

        &--1::before {
            left: -520px;
            right: 0;
            width: 100%;
            height: 150%;
            transition: all 850ms ease;
            transform: rotate(45deg);
            box-shadow: 0 0 10 #de2e03, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
        }

        &--1:hover::before {
            left: 520px;
        }
    }

    .comic-section {
        margin-top: 3%;
        color: #a20f0f;
        background-color: rgba(0, 0, 0, 0.88);

        .container-img-description {
            display: flex;

            .comic-details {
                margin: 3%;
                font-weight: bold;
            }
        }

        .resultados-personajes {
            padding: 1%;
            height: 35%;
            display: flex;

            flex-wrap: wrap;

            .resultados-card {
                width: 100vw;
            }


            .character-img-container {
                margin: 0 10px 40px;

                .container-card-character {

                    .card-character {
                        border: solid 2px #a20f0f;
                        width: 10em;

                        .container-img-character {
                            overflow: hidden;

                            .character-thumbnail {
                                height: 25vh;
                                width: 100%;
                            }

                            .card-content-info {
                                background-color: #000;
                                height: 12vh;
                                padding: 2%;
                                border-top: solid 5px #a20f0f;
                                position: relative;

                                .contein-info {
                                    margin: 0%;
                                    padding: 5% 5% 0%;

                                    .title-character {
                                        font-size: 1.3em;
                                    }

                                    .text-character {
                                        padding: 5%;
                                    }
                                }
                            }
                        }

                        .container-img-character:hover img {
                            transform: scale(1.2);
                            transition-duration: .8s;
                            filter: grayscale(90%);
                            background-color: #a20f0f;
                        }

                        .container-img-character:hover .card-content-info {
                            background-color: #a20f0f;
                            color: #000;
                        }
                    }

                    .card-character:hover {
                        box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.66);
                        cursor: pointer;
                    }
                }
            }

        }
    }

    .results-section {
        font-weight: bold;
        width: 80%;
        margin: auto;

        .title-results {
            color: #000;
            width: 60%;
            margin: auto;
            text-align: center;
            border: none;
        }

        .results {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 5%;

            .comic {
                width: 17.6%;
                margin: 0 10px 10px 10px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                border: solid 2px #a20f0f;
                background-color: #a4b9b6;

                .comic-thumbnail {
                    padding-top: 2%;
                    width: 100%;
                    box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
                    transform: translateY(0);
                    transition: 0.2s;
                }

                .comic-title {
                    background-color: #a4b9b6;
                    color: #000;
                    font-weight: bold;
                    width: 100%;
                    height: 100%;
                    margin-top: 1%;

                }
            }

            .comic:focus {
                outline: 0;
            }

            .comic:focus .comic-thumbnail,
            .comic:hover .comic-thumbnail {
                transform: translateY(-10px);
            }

            .comic:focus .comic-title,
            .comic:hover .comic-title {
                color: #ed1d23;
            }

            .comic-img-container {
                flex-grow: 1;
            }

            @media screen and (max-width: 680px) and (min-width: 200px) {
                .comic {
                    width: 30%;
                    margin-left: 10%;
                }
            }

            @media screen and (max-width: 376px) and (min-width: 200px) {
                .comic {
                    width: 35%;
                }
            }


            .card-character {
                width: 15%;
                margin: 1% 2%;

                .container-card-character {
                    width: 100%;

                    .card-character {
                        width: 100%;
                        border: solid 2px #a20f0f;
                        background-color: #000;

                        .container-img-character {
                            overflow: hidden;
                            width: 100%;

                            .character-thumbnail {
                                width: 100%;
                            }

                            .card-content-info {
                                background-color: #000;
                                height: 10vh;
                                padding: 2%;
                                border-top: solid 5px #a20f0f;
                                position: relative;

                                .contein-info {
                                    margin: 0%;
                                    padding: 5% 5% 0%;

                                    .title-character {
                                        font-size: 1.2em;
                                    }
                                }
                            }
                        }

                        .container-img-character:hover img {
                            transform: scale(1.2);
                            transition-duration: .8s;
                            filter: grayscale(90%);
                            background-color: #a20f0f;
                        }

                        .container-img-character:hover .card-content-info {
                            background-color: #a20f0f;
                        }
                    }

                    .card-character:hover {
                        box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.66);
                        cursor: pointer;
                    }
                }


            }

            @media screen and (max-width: 680px) and (min-width: 200px) {
                .card-character {
                    width: 15%;
                    margin-left: 10%;
                }
            }

            @media screen and (max-width: 376px) and (min-width: 200px) {
                .card-character {
                    width: 35%;
                }
            }

        }

        @media screen and (max-width: 680px) and (min-width: 200px) {
            .results {
                width: 100%;
                margin-left: 0%;
            }
        }

        @media screen and (max-width: 376px) and (min-width: 200px) {
            .results-section {
                width: 100%;
                margin-left: 0%;
            }
        }


        .container-pagination {
            width: 100%;
            text-align: center;
            margin-top: 2%;
            padding-bottom: 2%;

            .pagination {
                display: flex;
                justify-content: center;

                .btn {
                    width: 40px;
                    height: 40px;
                    font-family: "Bangers", cursive;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    color: #ed1d23;
                    background-color: #e5f2f3;
                    border-radius: 5px;
                }
            }
        }

    }

    @media screen and (max-width: 680px) and (min-width: 200px) {
        .results-section {
            width: 95%;
        }

        .container-pagination{
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
    }

    @media screen and (max-width: 376px) and (min-width: 200px) {
        .results-section {
            width: 95%;
        }

        .container-pagination{
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
    }
}

// @media screen and (max-width: 680px) and (min-width: 200px) {
//     .container-main {
//         background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAIxjCE4QvqTQAnc5ddDPUaTosdT42w0dm7Q&usqp=CAU);
//     }
// }