

.header{
    background-color: blue;
    width: 100%;

    .container-banner {
        width: 100%;
        height: 40vh;
        background-size: cover;
        display: flex;
        border-bottom: solid 2px #de2e03;

        .img {
            width: 100%;
        }
    }
}