.container-banner {
    max-width: 100%;
    height: auto;
    background-size: cover;
    position: relative;
    display: flex;
    border-bottom: solid 2px #de2e03;

    .img {
         width: 100%;
    }
}