.modo-oscuro {
    background-image: url(https://wallpapers.com/images/hd/iron-man-in-the-dark-1ikpgsjkoayh9equ.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: 110% 100%;
}

.modo-claro {
    background-image: url(https://images6.alphacoders.com/872/872239.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}